header{
    background-color: aqua;
    background-image: url(imagene);
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
}

div{


}

body{

    
}